* {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

.backBlue {
    background-color: #02A28F;
}

.radius {
    border-radius: .6rem
}

nav {
    width: 90vw;
    max-width: 1440px;
    margin: auto;
    padding: 1rem 9.5rem;
}

nav>h1 {
    font-weight: 700;
    font-size: 2.2rem;
}

main {
    width: 90vw;
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    padding: 3rem 9.5rem;
}

.principalBanner {
    position: relative;
    background-image: url(./assets/img.jpg);
    background-size: cover;
    height: 24rem;
    display: flex;
    align-items: flex-end;
}

.imageText {
    z-index: 2;
}

.imageText>span {
    font-weight: 300;
    font-size: .8rem;
    line-height: 100%;
}

.imageText>h2 {
    padding-top: .2rem;
    padding-bottom: .2rem;
    font-size: 1.3rem;
}

.author {
    font-weight: 350;
    font-size: .8rem;
    line-height: 100%;
}

.gradientPrincipal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000ac 100%);
    z-index: 1;
}

.principalBanner>div {
    padding: 1.5rem;
}

.cardType {
    color: #02A28F;
    font-weight: 400;
    font-size: .8rem;
    line-height: 100%;
}

.cardTitle {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 100%;
    color: black;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.cardAuthor {
    font-weight: 500;
    font-size: .8rem;
    line-height: 100%;
    color: #616161;
}

.cardAuthor>b {
    font-weight: 700;
    font-size: .8rem;
    line-height: 100%;
    color: #616161;
}

.cardContent {
    font-weight: 400;
    font-size: .8rem;
    line-height: 100%;
    color: black;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.cardDate {
    font-weight: 500;
    font-size: .8rem;
    line-height: 100%;
    color: #616161;
}

.recentPosts {
    padding-top: 1.5rem;

}

.seeAll {
    font-weight: 500;
    font-size: .8rem;
    text-decoration: underline;
}

.recentPostsTitle {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.cardsList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-top: .8rem;
}

.card {
    box-shadow: 0px 10px 10px 0px #0000001a;
}

.cardText {
    padding: 1rem;
    width: 100%;
}

.popularPostsTitle {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    box-shadow: 0px 10px 10px 0px #0000001a;
}

.post {
    display: flex;
    box-shadow: 0px 10px 10px 0px #0000001a;
    padding: .8rem .7rem;
    margin-top: 1.2rem;
    border-radius: .6rem;
}

.postTitle {
    font-weight: 700;
    font-size: .7rem;
    line-height: 100%;
    color: black;

}

.postDate {
    font-weight: 500;
    font-size: .6rem;
    line-height: 100%;
    color: #616161;
    margin-top: .5rem;
}

.postDate,
.postTitle {
    margin-left: .7rem;
}

.categorie {
    padding-top: 1.5rem;
}

.categorieItem {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
}

.CategorieTitle {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    margin-bottom: .8rem;
    box-shadow: 0px 10px 10px 0px #0000001a;
}

.categorieItem>span {
    font-weight: 600;
    font-size: .8rem;
    line-height: 100%;
    color: #616161;
}

footer {
    text-align: center;
    padding: 1rem;
}

footer>p {
    font-weight: 600;
    font-size: .8rem;
}

@media screen and (max-width:1440px) {
    main{
        grid-template-columns: 1fr;
    }

    .card img{
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    main {
        padding: 1.5rem 0.5rem;
    }

    nav>h1 {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    main {
        padding: 1rem 0;
    }

    nav {
        padding: 1rem 0;
    }

    nav>h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .cardsList {
        grid-template-columns: 1fr;
    }

    .seeAll {
        padding-left: 1rem;
    }

    .recentPostsTitle .popularPostsTitle .CategorieTitle {
        justify-content: center;
        height: 2.5rem;
    }
}